<button (click)="getFigmaComponents()">Get Components</button>
<hr>
<div *ngIf="figmaComponents">
    <div *ngFor="let component of figmaComponents">
        <div *ngIf="isButton(component)">
            <br><br>
            <button>{{getButtonText(component)}}</button>
        </div>
        <div>
            <div *ngIf="isLabel(component)">
                <br><br>
                <label>{{getLabelText(component)}}</label>
            </div>
            <div *ngIf="isTextField(component)">
                <input type="text" [placeholder]="getTextFieldText(component)">
            </div>
        </div>
        <header *ngIf="isHeader(component)">
            <h1>{{getHeaderText(component)}}</h1>
        </header>
        <!--div>
            {{component|json}}
        </div!-->
    </div>
</div>